.navbar {
    .navbar-end {
        width: fit-content;
    }
    justify-content: space-between;
    .dropdown {
        .menu {
            svg {
                width: 20px;
                height: 20px;
                color: inherit;
            }
        }
    }
}